#teamsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  gap: 20px; 
  flex-direction: row;
}

/* Media query para ajustar el diseño en tamaños de pantalla más pequeños */
@media (max-width: 768px) {
  #teamsGrid {
    justify-content: center;
  }
}

  